!!!
%html
    %head
        %title Inicio
        %link{:href => "/css/lavish-bootstrap.css" , :rel => "stylesheet" , :media => "screen" , :type => "text/css"}
        %script(src = "http://www.google.com/jsapi")
        %script(src = "/js/chartkick.js")
    %body
        %nav.navbar.navbar-inverse{:role => "navegation"}
            .navbar-header
                %img.pull-left{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/logo_zps1d404711.png" ,:alt => "Logo" ,:width => "50px" , :height => "50px"}
                -case (@webname)
                -when nil
                    %a.navbar-brand{:href => "/"} Practica URL Shortener
                -when "google"
                    %a.navbar-brand{:href => "/user/google"} Practica URL Shortener
                -when "twitter"
                    %a.navbar-brand{:href => "/user/twitter"} Practica URL Shortener
                -when "facebook"
                    %a.navbar-brand{:href => "/user/facebook"} Practica URL Shortener
            %a.navbar-brand.pull-right{:href => "/estadisticas/global"} Estadísticas


        .container
            =yield
        .navbar.navbar-inverse.navbar-fixed-bottom
            %a.navbar-brand{:href=>"http://www.ull.es/view/centros/etsii/Inicio/es"} ETSII ULL
            %a.navbar-brand.pull-right{:href => "https://github.com/alu0100595727"} alu0100595727
            %a.navbar-brand.pull-right{:href => "https://github.com/alu0100505023"} alu0100505023
